.header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background: whitesmoke;
  box-shadow: 0 10px 20px -5px rgba(115,115,115,0.15);
  padding: 20px 0px;
  height: 122px;
  color:dimgray;
  padding: 16px;
}

.header-text {
  margin-bottom: 20px;
}

.header .header-menu {
  list-style: none;
  width: 800px;
  margin: auto;
}

.header a {
  text-decoration: none;
  color: dimgray;
}

li {
  padding: 8px;
}
li.active {
  border-bottom: 2px solid black;
  border-radius: 2px;
}