.subcategories-container {
  margin-bottom: 20px;
  font-weight: bold;
  color: gray;
}

.subcategory-container {
  display: inline-block;
}

.subcategory-container .subcategory-link:hover, .subcategory-container .subcategory-link:active,
.subcategory-container .subcategory-link:focus {
  color: #484848;
  cursor: pointer;
}

.subcategories-container .subcategory-container .image-container {
  width: 250px;
  height: 250px;
  margin: auto;
  border: 1px solid;
  border-radius: 250px;
  display: flex;
}

.subcategories-container .subcategory-container .image-container img {
  width: 150px;
  margin: auto;
}

.subcategories-container .subcategory-container .name {
  padding-top: 10px;
}

.subcategories-separator {
  width: 90%;
  margin-bottom: 30px;
}

