.main-container {
  padding-top: 140px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.body-container {
  flex: 1;
  text-align:center;
  color: dimgray;
  margin: 40px auto;
}

app-footer {
  background-color: #f1f1f1;
}
