<div class="layout horizontal center-justified main-container">
  <div class="thumbnai-container">
    <div *ngFor="let product of images; let i = index">
      <img [ngClass]="{'img-thumbnail-selected': i == 0}" (click)="updateSelection(i)" class="img-thumbnail" src="{{ product }}">
    </div>
  </div>
  <div class="layout horizontal">
    <div class="image-container layout vertical center">
      <img class="main-img" src="{{ product.images[0] }}">
    </div>
  </div>
  <div class="flex layout vertical description-container">
    <h5 class="description">{{product.name}}</h5>
    <div class="horizontal start-justified layout content-container">
      <div class="labels">Rating: </div>
      <div class="values">{{product.rating}}</div>
    </div>
    <div class="horizontal start-justified layout content-container">
      <div class="labels">Stock: </div>
      <div class="values">{{product.stock}}</div>
    </div>
    <div class="horizontal start-justified layout content-container">
      <div class="labels">Colors: </div>
      <div class="values">{{product.color}}</div>
    </div>
    <button type="button" class="btn btn-primary self-center" [routerLink]="['/cart', id, product.id]">Buy For: {{ product.price | currency: 'INR' }}</button>
  </div>
</div>
