.img-thumbnail {
  max-height: 80px;
  max-width: 80px;
  margin: 8px;
  cursor: pointer;
}

.img-thumbnail-selected {
  border-left: 2px solid #007bff;
}

.image-container,
.main-img {
  width: 250px;
}

.values {
  margin-left: 12px;
}

.content-container {
  margin: 8px 8px 8px 0px;
}

.btn-primary {
  max-width: 270px;
  max-height: 38px;
  margin: 16px;
}

.main-img {
  z-index: 2;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.description {
  text-align: start;
}

.thumbnai-container {
  margin-right: 8px;
}

.description-container {
  max-width: 250px;
  margin-left: 36px;
}
