.categories-container .category-container {
  width: 300px;
  margin: 8px auto;
  padding: 8px;
  border-radius: 4px;
}

.categories-container .category-container img {
  width: 250px;
}

.categories-container .category-container  {
  font-size: 16px;
  font-weight: bold;
}

.categories-container .category-container .image-container {
  margin-bottom: 8px;
  vertical-align: center;
}

.categories-container .category-container:hover {
  cursor: pointer;
}
